.Root {
  margin: 50px auto;
  width: 100%;
  max-width: 500px;
}

.Root-status {
  margin: 15px auto;
  padding: 10px 0;

  width: 100%;
  height: 30px;
  text-align: center;

  background: #33b140;
  color: white;
}
